spring:
  application:
    name: datagsm
  datasource:
    url: jdbc:mysql://amond-server.kro.kr:3306/datagsm
    username: root
    password: rootpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000ms
      connect-timeout: 10000ms
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
        shutdown-timeout: 100ms
  security:
    cors:
      allowed-origins:
        - '*'
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - email
    jwt:
      secret: sdafsfasdfasfqf423fasdfsadf23423423sdf
      access-token-expiration: 2400000
      refresh-token-expiration: 604800000
    api-key:
      expiration-days: 30
      renewal-period-days: 15
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  docker:
    compose:
      enabled: false
  sql:
    init:
      mode: never
server:
  shutdown: graceful
  port: 8080
springdoc:
  api-docs:
    groups:
      enabled: true
  swagger-ui:
    enabled: true
    disable-swagger-default-url: true
    display-request-duration: true
    tags-sorter: alpha
    operations-sorter: method
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
