services:
  mysql:
    image: mysql:8.0
    container_name: datagsm-web-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: datagsm
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: datagsm-web-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data:
