services:
  mysql:
    image: mysql:8.0
    container_name: datagsm-resource-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: datagsm
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: datagsm-resource-redis
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data:
